/*custom properties*/
:root {

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #ffffff;
    --clr-dark: #49557e;
    --clr-accent: #f80707;
    --clr-accent__-adj: #fcfc;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 1.25em 1.25em 1.75em rgba(51, 71, 189, 0.25),
          1.125em 1.125em 1.25em rgba(70, 98, 136, 0.15);
    --ts: 1px 3px 1px rgb(88, 67, 67);
}
.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu{
    display:flex;
    list-style: none;
    gap: 20px;
    color:var(--clr-dark);
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: var(--clr-accent);
    border: 1px solid var(--clr-accent);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: ease-in-out 300ms;
}

.navbar button:hover{
    transform: scale(1.02);
}

.navbar button:active {
    transform: scale(0.98);
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--clr-accent                          );
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: var(--clr-accent);
    top: -8px;
    right: -8px;
    border-radius: 50%;
}

@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right{
        gap: 20px;
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:1050px){
    
    .navbar-menu{
        display: none;
    }
        
}